.price {
  font-weight: 900;

  sup {
    font-weight: 600;
  }

  &--old {
    font-size: 3.2rem;
    line-height: 1.7rem;
    color: #94979c;
    position: relative;

    sup {
      font-size: 1.8rem;
    }

    &::after {
      content: '';
      width: 100%;
      height: 0.3rem;
      background: #ff0000;
      position: absolute;
      left: 0;
      top: 50%;
    }
  }

  &--new {
    font-size: 5.2rem;
    line-height: 2.7rem;

    sup {
      font-size: 2.8rem;
    }
  }

  span {
    margin-left: 0.9rem;
  }
}
