.navigation {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  .first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin-bottom: 1.6rem;
  }

  .filters {
    display: flex;
    gap: 3rem;

    &__item {
      color: #2a7be4;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &--active {
        color: #344050;
      }
    }

    &:last-child {
      align-items: center;
    }

    label {
      font-size: 1.6rem;
    }
  }

  #viewoptions {
    margin-left: 1rem;
    width: 10rem;
    padding: 0.5rem 1rem;
  }
}
